.tos {
  border: none;
  padding: 5px;
  width: 50rem;
  height: 25rem;
  overflow: scroll;
  display:block;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  border: 1px solid rgb(28, 72, 138);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(28, 72, 138);  
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(16, 58, 121);  
}

.tacbox {
  display:block;
  padding: 1em;
  margin: 2em;
  border: 3px solid #ddd;
  background-color: #eee;
  max-width: 800px;
}

input {
  height: 2em;
  width: 2em;
  vertical-align: middle;
}

.login {
  display: block;
  position: relative;
  width: 11rem;
  height: 3.25rem;
  border-radius: 1.5rem;
  background: linear-gradient(40deg,rgb(28, 72, 138), rgb(42, 112, 216));
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  font-size: 1.25rem;
  cursor: pointer;
  transition: transform .2s ease-out;
}

.login:hover{
  transform: scale(1.02);
}

.login a{
  color: white;
}

.space{
  padding-top: 1rem;
}
.signup {
  display: block;
  position: relative;
  width: 11rem;
  height: 3.25rem;
  border-radius: 1.5rem;
  background: linear-gradient(40deg,rgb(28, 72, 138), rgb(42, 112, 216));
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  font-size: 1.25rem;
  cursor: pointer;
  transition: transform .2s ease-out;
}

.signup:hover{
  transform: scale(1.02);
}

.signup a{
  color: white;
}